@font-face{
	src: url("../fonts/NunitoSans-Light.ttf");
	font-family: NunitoSans;
}

@font-face{
	src: url("../fonts/YesevaOne-Regular.ttf");
	font-family: YesevaOne;
}

body{
	margin: 0 auto;
	font-family: NunitoSans;
}

header, footer{
	background-color: #131313;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}

body *{
	box-sizing: border-box;
}

h1{
	font-family: YesevaOne;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
}

h2{
	font-family: YesevaOne;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
}

h3{
	font-family: YesevaOne;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
}

h4{
	font-family: YesevaOne;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
}

button{
	border: solid 1px white;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	padding: 13px 33px;
	text-transform: uppercase;
}

button:hover{
	cursor: pointer;
	background-color: #E3B873;
	border: solid 1px #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.container{
	max-width: 1438px;
}

section{
	display: flex;
	justify-content: center;
}

input{
	color: black;
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: rgba(54, 54, 54, 0.5);
    height: 32px;
    width: 231px;
}

.checkbox_label{
	display: flex;
	align-items: center;
	margin-top: 37px;
}

.checkbox_label:hover{
	cursor: pointer;
}

.checkbox{
	display: none;
}

.fake_checkbox{
	height: 18px;
	width: 18px;
	background-color: #E3B873;
	border-radius: 2px;
	margin-right: 9px;
	position: relative;
}

.fake_checkbox::before{
	content: url("../images/tick.svg");
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .2s;
}

.checkbox:checked + .fake_checkbox::before{
	opacity: 1;
}





/*Header*/





.container_header{
	display: flex;
	height: 83px;
	align-items: center;
	justify-content: space-between;
}

.header_label{
	color: #C9A467;
}

.header_label_margin{
	margin-right: 95px;
}

.header_number{
	color: white;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 45px;
	border-bottom: solid 1px #131313;
}
 
.header_number:hover{
	border-bottom: solid 1px #C9A467;
	color: #C9A467;
	cursor: pointer;
}

.header_ul{
	margin: 0;
	padding: 0;
	color: white;
	list-style-type: none;
	display: flex;
	flex-grow: 10;
}

.header_nav_item{
	margin-right: 47px;
	text-decoration: none;
	color: white;
}

.header_nav_item:hover{
	color: #C9A467;
	cursor: pointer;
}





/*First block*/





.block1{
	background-image: url("../images/block1_background.png");
	height: 707px;
	position: relative;
}

.block1_overlay{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 707px;
}

.block1_container{
	height: 707px;
	z-index: 1;
	padding-top: 194px;
	margin-left: -750px;
}

.block1_title{
	margin: 0;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
}

.block1_title_special{
	color: #C9A467;
}

.block1_text{
	color: white;
	font-size: 22px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 41px;
}

.block1_button{
	height: 51px;
}

.block1_button_margin{
	margin-right: 20px;
}





/*Second block*/





.block2{
	height: 1174px;
	background-color: #131313;
}

.block2_container{
	display: flex;
	flex-direction: column;
	padding-top: 107px;
	padding-left: 75px;

}

.block2_nav{
	display: flex;
	list-style-type: none;
	align-self: flex-end;
	font-family: YesevaOne;
	text-transform: uppercase;
}

.block2_nav_item{
	color: #555555;
	margin-right: 60px;
	border-bottom: solid 1px #131313;
	padding-bottom: 6.7px;
	text-decoration: none;
	font-size: 14px;
}

.block2_nav_item:hover{
	color: #C9A467;
	border-bottom: solid 1px #C9A467;
	cursor: pointer;
}

.block2_title{
	color: #C9A467;
}

.block2_text{
	color: white;
	line-height: 27px;
}

.block2_flex1{
	display: flex;
	margin-top: 53px;
}

.block2_main_part{
	width: 500px;
}

.block2_flex2{
	display: flex;
	flex-wrap: wrap;
	margin-top: 42px;
}

.block2_min-width{
	min-width: 170px;
}

.block2_lil_div_margin{
	margin-top: 34px;
}

.block2_image{
	margin-left: 50px;
}

.block2_flex3{
	display: flex;
	margin-top: 80px;
}

.block2_circle{
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 2px;
	margin-left: 17px;
}

.block2_circle:hover{
	cursor: pointer;
	background-color: white;
}

.block2_left-arrow{
	margin-right: 13px;
}

.block2_right-arrow{
	margin-left: 30px;
}

.block2_arrow:hover{
	cursor: pointer;
}

.block2_mobile_arrows, .block2_mobile_image{
	display: none;
}





/*Third block*/





.block3{
	
}

.block3_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -350px;
}

.block3_title{
	color: white;
}

.block3_flex1{
	display: flex;
	margin-top: 17px;
}

.logo_margin{
	margin: 0 9.5px;
}

.block3_image{
	margin-top: 31px;
}

.block3_overlay{
	width: 817px;
	height: 434px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: -434px;
}

.block3_hr{
	margin-top: 250px;
}

.block3_videoplay{
	margin-top: -290px;
	display: flex;
	justify-content: center;
	background-color: #E3B873;
	border-radius: 50%;
	width: 85px;
	height: 85px;
}

.block3_videoplay_icon{
	margin-left: 2px;
}

.block3_videoplay:hover{
	cursor: pointer;
}

.block3_text{
	text-align: center;
	margin-top: 34px;
	color: #363636;
	font-size: 18px;
	line-height: 37px;
}

.block3_second_flex{
	display: flex;
	margin-top: 93px;
}

.block3_input::placeholder{
	color: black;
}

.block3_input_flex{
	display: flex;
	flex-direction: column;
}

.block3_input_label{
	color: #C0C0C0;
	margin-bottom: 7px;
}

.block3_input_margin{
	margin-right: 58px;
}

.block3_button{
	border: solid 1px black;
	color: black;
	width: 200px;
	height: 51px;
	margin-left: 49px;
	align-self: flex-end;
}

.block3_button:hover{
	color: white;
}

.block3_mobile_checkbox_label{
	display: none;
}

.block3_image_mobile, .block3_videoplay_mobile{
	display: none;
}





/*Fourth block*/





.block4{
	margin-top: 148px;
}

.block4_container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block4_logo{
	display: flex;
	align-items: center;
}

.block4_flex1{
	margin-top: 31px;
	display: flex;
}

.block4_flex_item{
	margin: 0 30px;
}

.block4_flex2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block4_flex3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: -127px;
}

.block4_div1{
	width: 330px;
	height: 286px;
	background-color: white;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.block4_div2{
	width: 228px;
	height: 54px;
	background-color: #E3B873;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-top: -27px;
}

.block4_div_title{
	text-transform: none;
	margin-left: 34px;
}

.block4_div_ul{
	margin-left: 15px;
	color: #959595;
	font-size: 13px;
	line-height: 27px;
}





/*Fifth block*/





.block5{
	margin-top: 124px;

}

.block5_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 117px;
}

.block5_div1{
	background-image: url("../images/block5_background.png");
	height: 645px;
	width: 703px;
	display: flex;
	flex-direction: column;
	margin-left: -120px;
}

.block5_numbers{
	font-family: YesevaOne;
	color: white;
	font-size: 18px;
	width: 58px;
	height: 58px;
	background-color: #E3B873;
	border-radius: 100%;
	border: 8px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 11px;
}

.block5_numbers_margin{
	margin-top: 110px;
}

.block5_div2{
	display: flex;
	align-items: center;
	margin-left: 250px;
	position: static;
}

.block5_div2_text{
	font-size: 14px;
	line-height: 19px;
}

.block5_div3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 131px;
}

.block5_form{
	background-color: #131313;
	width: 506px;
	height: 570px;
	border-radius: 2px;
}

.block5_form_text{
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 26px;
	margin-top: 28px;
}

.block5_form_input{
	margin-left: 49px;
	display: flex;
	flex-direction: column;
}

.block5_input{
	background-color: #131313;
	width: 408px;
}

.block5_input::placeholder{
	color: white;
}

.block5_input1_margin{
	margin-top: 39px;
}

.block5_input2_margin{
	margin-top: 48px;
}

.block5_input_label{
	color: #6C6C6C;
	margin-bottom: 7px;
}

.block5_checkbox_margin{
	margin-top: 16px;
}

.block5_checkbox_text{
	color: white;
}

.block5_button{
	width: 213px;
	height: 51px;
	margin-top: 39px;
	align-self: flex-end;
	margin-right: 49px;
}

.block5_pig{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 38px;
	margin-left: 40px;
}

.block5_pig_icon{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E3B873;
	border-radius: 50%;
	width: 72px;
	height: 72px;
}

.block5_pig_text{
	color: #E3B873;
	font-size: 18px;
	line-height: 26px;
	margin-left: 25px;
}





/* Sixth block*/





.block6_mobile{
	display: none;
}

.block6{
	height: 864px;
	background-image: url(../images/block6_background.png);
	margin-top: 242px;
	position: relative;
}

.block6_container{
	display: flex;
	z-index: 1;
}

.block6_div1{
	margin-right: 230px;
	margin-top: 100px;
}

.block6_div2{
	width: 354px;
	margin-right: 43px;
	margin-top: -41px;
}

.block6_div3{
	width: 354px;
	margin-top: -112px;
}

.block6_title{
	color: #E3B873;
	font-size: 27px;
}

.block6_nav{
	padding: 0;
	list-style-type: none;
	margin-top: 47px;
	display: flex;
	flex-direction: column;
}

.block6_nav_item{
	text-decoration: none;
	color: white;
	margin-top: 25px;
	padding-bottom: 1px;
	font-size: 20px;
}

.block6_nav_item:hover{
	color: #E3B873;
	border-bottom: solid 1px #E3B873;
}

.block6_li{
	margin-top: 25px;
}

.block6_overlay{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 864px;
}





/*Seventh block*/





.block7{
	margin-top: 69px;
	text-align: center;
}

.block7_container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block7_title{
	font-size: 20px;
	line-height: 28px;
}

.block7_logo{
	display: flex;
	margin: 13px 0 24px 0;
}

.block7_text{
	font-size: 18px;
	line-height: 29px;
}

.block7_div1{
	display: flex;
	flex-direction: row;
	margin-top: 39px;
}

.block7_div2{
	text-align: start;
}

.block7_div3{
	width: 376px;
	height: 428px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.block7_div4{
	display: flex;
	margin: 24px 0 0 20px;
}

.block7_div5{
	width: 294px;
	height: 54px;
	background-color: #E3B873;
	margin-top: -27px;
	display: flex;
	align-items: center;
}

.block7_div_margin{
	margin-right: 54px;
}

.block7_img{
	border-radius: 50%;
	margin-right: 23px;
	width: 76px;
	height: 76px;
}

.block7_name{
	font-size: 18px;
}

.block7_text{
	color: #959595;
	font-size: 13px;
	line-height: 180%;
	margin-left: 20px;
}

.block7_span{
	font-size: 17px;
	text-transform: uppercase;
	font-family: YesevaOne;
	margin-left: 15px; 
	color: white;
}

.block7_span_margin{
	margin-right: 14px;
}

.block7_lil_logo{
	margin-left: 17px;
}

.houses_background{
	height: 505px;
	background-image: url("../images/houses_background.jpg");
	opacity: 0.1;
}






/*Eight block*/





.block8_mobile{
	display: none;
}

.block8{
	height: 1008px;
	background-image: url("../images/block8_background.png");
	margin-top: -57px;
	position: relative;
}

.block8_container{
	text-align: center;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.block8_div_input{
	margin-top: -250px;
	width: 883px;
	height: 500px;
	background-color: #181818;
	text-align: start;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block8_input_title{
	color: white;
	margin-top: 34px;
}

.block8_input1{
	background-color: #181818;
	width: 231px;
}

.block8_input2{
	background-color: #181818;
	width: 517px;
}

.block8_label{
	font-size: 13px;
}

.block8_input::placeholder{
	color: white;
}

.block8_flex1{
	display: flex;
	align-items: center;
	margin-top: 46px;
}

.block8_input1_margin{
	margin-right: 58px;
}

.block8_input2_margin{
	margin-top: 49px;
}

.block8_checkbox_margin{
	margin-top: 47px;
}

.block8_button{
	width: 200px;
	height: 51px;
	margin-top: 50px;
}

.block8_title{
	margin-top: 52px;
	color: #E3B873;
	font-size: 20px;
	line-height: 28px;
}

.block8_div1{
	margin-top: 26px;
	display: flex;
	justify-content: center;
}

.block8_icons{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #E3B873;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block8_icons:hover{
	cursor: pointer;
}

.block8_icon_margin{
	margin-right: 15px;
}

.block8_map{
	margin-top: 43px;
}

.block8_overlay{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	height: 1008px;
}
